@model IEnumerable<LabManga.AuthorsManga>

@{
    ViewData["Title"] = "Манги автора";
}

<h1>Манги автора @ViewBag.AuthorName </h1>

<p>
    @Html.ActionLink("Добавить новую мангу", "Create", new { authorId = ViewBag.AuthorId })
</p>

<p>
    @Html.ActionLink("Назад", "Return")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manga)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Manga.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Информация</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
