@model IEnumerable<LabManga.Author>

@{
    ViewData["Title"] = "Index";
}

<h1>Авторы</h1>

<p>
    <a asp-action="Create">Добавить автора</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Info)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Просмотреть манги</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    <div id="chart2"></div>
</div>
@section scripts{
    <script type "text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/Charts/AuthorsJsonData', function (authorsJsonData) {
                data = google.visualization.arrayToDataTable(authorsJsonData, false);
                var option = {
                    title: "Соотношение количество манг и аваторов ",
                    width: 700,
                    height: 400
                };
                chart = new google.visualization.ColumnChart(document.getElementById('chart2'));
                chart.draw(data, option);
            })
        }
    </script>
}